.folderName {
  display: flex;
  align-items: center;
  padding: 2.5px 0;
  transition: 0.2s all;
}

.folderName:hover {
  background-color: var(--dark-2);
  cursor: pointer;
}
.selectedFolderName {
  composes: folderName;
  font-weight: bold;
  background-color: var(--dark-2);
}
.children {
  overflow: hidden;
  transition: 0.2s height;
}
