.folder{

}

.folderName{
    padding:2px 10px;

}
.folderName:hover{
    background-color: gray;
}
.folderName::before{
    content: "";
    position: relative;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.473);

}
.children{
    padding-left: 20px;

}