.container {
  position: relative;
  overflow: scroll;
  flex-grow: 1;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid var(--light-1);
  margin-bottom: 5px;
  margin-left: 10px;
}
