.container {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.folders {
  padding-top: 5px;
  overflow-y: auto;
}
.title {
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 2px solid var(--light-1);
  padding-right: 10px;
  margin-left: 10px;
}
.buttonContainer {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
