.input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  background-color: var(--light-1);
  outline-offset: 2px;
}

.select {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  background-color: var(--light-1);
  outline-offset: 2px;
}


.select:focus:active {
  outline: 2px solid var(--accent-2);
}
.select:focus {
  outline: 2px solid var(--accent-1);
}

.input:focus:active {
  outline: 2px solid var(--accent-2);
}
.input:focus {
  outline: 2px solid var(--accent-1);
}
