.button {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--light-1);
  color: var(--light-1);
  font-size: inherit;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.15s all;
}
.button:disabled {
  color: var(--light-2);
  pointer-events: none;
  /* display: none; */
  /* Not really disabled, more like GONE */
}
.button.noBorder {
  border: none;
}
.button.noBorder span {
  display: block;
  /* Prevents some annoying space below the span */
}
.button:hover {
  background-color: var(--dark-2);
}
.button:active:hover {
  background-color: var(--dark-1);
}
.zoomButton:hover {
  transform: scale(1.2);
}
.zoomButton:hover:active {
  transform: scale(1);
}
