.button {
  background-color: transparent;
  color: var(--light-1);
  font-size: inherit;
  cursor: pointer;
  transition: 0.15s background-color, 0.15s transform;
  border: 0;
  padding: 0;
  &:hover {
    background-color: var(--dark-2);
    &:active {
      background-color: var(--dark-1);
    }
  }
  &:disabled {
    color: var(--light-2);
    pointer-events: none;
  }
}
.zoomButton {
  background-color: transparent;
  &:hover {
    background-color: transparent;
    transform: scale(1.2);
    &:active {
      background-color: transparent;
      transform: scale(1);
    }
  }
}
