ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  flex-grow: 1;
  overflow: hidden;
  font-size: 1.2rem;
  background-color: black;
}

/* tr:not(:first-child) {
  border-top: 2px solid rgb(190, 190, 190);
} */
tr {
  color: white;
}
td {
  padding: 6px;
}
tr:hover {
  background-color: rgba(128, 128, 128, 0.575);
  color: gold;
  cursor: pointer;
}
