header {
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  flex-grow: 1;
  border-radius: 10px;
  overflow: hidden;
  
}
 
tr:not(:first-child) {
  border-top: 2px solid rgb(190, 190, 190);
  // padding: 15px;
}
td {
  padding: 10px;
}
tr:nth-of-type(odd){
  background-color: rgb(142, 219, 255);

}
tr:hover{
    background-color: rgba(128, 128, 128, 0.575);
}
td:first-child {
  border-right: 3px black solid;
}
.logo {
  width: 100%;
}
.container {
  margin: 20px;
}
