html {
  height: 100vh;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family:"helvetica neue", helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  outline: 3px solid black;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-weight: 200;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
