.container {
  overflow: scroll;
  /* display: flex;
  flex-direction: column; */
}
.content {
  padding: 20px;
}

.dropdownContent {
  overflow: hidden;
}
.dropdownButton {
  width: 100%;
  text-align: left;
}
.dropdownTitle {
  cursor: pointer;
  border-bottom: 1px solid var(--dark-2);
  padding: 5px 0;
}
