.header {
    text-align: left;
    background-color: var(--dark-2);
    padding: 10px 20px;
    border-bottom: 2px solid var(--light-1);
    position: relative;
  }

  .container{ /*copied from wordPanel*/
    position: relative; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .addFilter {
    overflow: hidden;
    transition: 0.2s all;
  }

  .content{
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    gap: 20px;
    overflow: hidden;
  }

  .smallGrid{
    display: grid;
    grid-template-columns: 0.3fr 0.65fr;
    margin-left: 10px;
    row-gap: 7px;
  }

  .bigGrid{
    display: grid;
    grid-template-columns: 0.1fr 0.25fr 1fr;
    margin-left: 27px;
    margin-top: 7px;
    row-gap: 7px;
  }

  .filterInput{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid var(--light-1);
    margin-left: 10px;
    color: var(--light-1);
  }

  .required{
    color: red;
  }
  
  .submit{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }