.header{
    text-align: center;
    background-color: var(--dark-2);
    padding:5px 40px;
    position: sticky;
    top: 0;
}
.heading{
    display: block;
}
.buttons{
    position: absolute;
    right: 10px;
    top: 5px;
}