.header {
  text-align: left;
  background-color: var(--dark-2);
  padding: 10px 20px;
  border-bottom: 2px solid var(--light-1);
  position: relative;
}
.heading {
  display: block;
}
.buttonsTray {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}
.buttons {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: flex-end;
  font-size: 2.2rem;
}
.inputContainer {
  transition: 0.5s all;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse; /* Basically start from the right */
  margin-right: 10px;
}
.inputContainer input {
  margin: 10px 4px;
  flex-grow: 1;
  width: 0;
}

.inputContainer select {
  padding: 5px;
  margin: 10px 0px;
  flex-grow: 1;
  width: 0;
}

.container {
  position: relative;
}


.dropDown {
  position: absolute;
  right: -70px; /* I don't feel I should be doing it like this*/
  top: 20px;
  background-color: var(--light-1);
  color: var(--dark-1);
  transform-origin: top right;
  padding: 15px;
  display:block;
  width: 250px;
  overflow-wrap: normal;
  border-radius: 10px;
  z-index: 42;
  transition: 0.3s all;
  line-height: 2rem;
}


.open {
  transform: translate(0);
  opacity: 1;
}
.closed {
  transform: translate(0, -10px);
  opacity: 0;
  visibility: hidden;
}
