.container {
  position: relative;
}

.textBox {
  position: absolute;
  left: 40px;
  bottom: 100%;
  background-color: var(--light-1);
  color: var(--dark-1);
  transition: 0.5s all;
  transform-origin: bottom left;
  padding: 15px;
  display: block;
  width: 250px;
  overflow-wrap: normal;
  border-radius: 10px;
  z-index: 42;
}
.hotKey {
  border: 1px solid var(--dark-1);
  border-radius: 5px;
  width: fit-content;
  padding: 2px 5px;
  display: inline;
}
