:root {
  font-size: 62.5%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
html {
  height: 100vh;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 500px;
  outline: 3px solid black;
  height: 250px;
}
#root {
  display: flex;
  height: 100%;
}
