#root {
  height: 100%; /* Just so styling doesn't break for the entire React app */
}
:root {
  font-size: 62.5%;
  --dark-1: #0d0a0b;
  --dark-2: #454955;
  --light-1: #f3eff5;
  --light-2: #f3eff59c;
  --accent-1: hsl(198, 39%, 47%);
  --accent-2: hsl(198, 60%, 51%);
  --red-1: hsl(0, 39%, 47%);
  --red-2: hsl(0, 64%, 55%);
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--light-2);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-2);
  cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: inherit;
  line-height: inherit; /* Google defaults this to 1 for some reason */
  vertical-align: bottom; /* NOTE: idk why this works in making the icon container not have any extra space on the top or bottom, but it does.. */
}
a:link {
  color: hsl(198, 50%, 58%);
}
a:visited {
  color: hsl(198, 77%, 50%);
}
label {
  cursor: pointer;
}
html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-color: #6969dd #e0e0e0;
  color: var(--light-1);
}
body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 700px;
  height: 450px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border-spacing: 5px;
  table-layout: fixed;
  user-select: none;
}

tbody > tr {
  transition: 0.2s font-weight, 0.2s color, 0.1s background-color;
  border-top: 0.5px solid var(--light-2);
}
thead {
  text-align: center;
  position: sticky;
  top: 0;
  background-color: var(--dark-1);
}
thead th {
  padding: 5px;
}
td {
  padding: 5px 12px;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

tbody > tr:hover {
  background-color: var(--dark-2);
  cursor: pointer;
}
